<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AppletToServlet</display-name>
    <description> AppletToServlet</description>
        <servlet>
            <servlet-name>AppletToServlet</servlet-name>
            <servlet-class>AppletToServlet</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>AppletToServlet</servlet-name>
            <url-pattern>/AppletToServlet</url-pattern>
        </servlet-mapping>
</web-app>